*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

ul{
    list-style-type: none;
    padding: 0;
}

#content{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 3fr 9fr;
}

.sidebar{
    background-color: #f1f1f1;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project{
    background-color: whitesmoke;
    padding: 3rem;
}

.project-tasks{
    padding-inline: 3rem;
}

.task{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.task-icons {
    display: flex;
    gap: 1rem;
}